{% extends "base.html" %}
{% block main %}
  <main class="container mt-3">
    <div class="row">
      <div class="col-lg-9">
        {% block center %}
        {% endblock center %}
      </div>
      <div class="col-lg-3">
        <h3 class="mb-2">About the author</h3>
        {% if post %}
          <div class="card" style="border: none; border-radius: 0%;">
            <div class="mt-3 mb-2 text-center">
              
              <a class="nav-link" href="{% url 'me' user.id %}">
                {% if post.user.avatar_image.url %}
                  <img src="{{ post.user.avatar_image.url }}"
                      alt="mdo"
                      class="object-fit-cover"
                      width="80"
                      height="80" />
                {% elif not post.user.avatar_image.url %}
                  <svg xmlns="http://www.w3.org/2000/svg"
                      width="80"
                      height="80"
                      fill="currentColor"
                      class="bi bi-person-circle"
                      viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                  </svg>
                {% endif %}
              </a>
              <div class="mt-2" style="font-size: 18; font-weight: bolder;">
                {{ post.user.user.username }}
              </div>
              <div class="mb-2">
                {% if post.user.id not in following_list %}
                <button class="btn btn-secondary btn-small"
                        onclick="follow({{ post.user.user.id }})"
                        style="height:25px;
                              padding-top:1px;
                              padding-bottom:1px">Follow</button>
                {% elif post.user.id in following_list %}
                  <button class="btn btn-secondary btn-small"
                          onclick="unfollow({{ post.user.user.id }})"
                          style="height:25px;
                                padding-top:1px;
                                padding-bottom:1px">Unfollow</button>
                {% endif %}
              </div>
              <div class="mt-3" style="color:#444444; font-size: 14px;">{{ post.user.slogan }}</div>
            </div>
          </div>
        {% elif destination %}
        <div class="card" style="border: none; border-radius: 0%;">
          <div class="mt-5 mb-5 text-center">
            <a class="nav-link" href="{% url 'me' user.id %}">
              {% if destination.user.avatar_image.url %}
                <img src="{{ destination.user.avatar_image.url }}"
                    alt="mdo"
                    class="object-fit-cover"
                    width="80"
                    height="80" />
              {% elif not destination.user.avatar_image.url %}
                <svg xmlns="http://www.w3.org/2000/svg"
                    width="80"
                    height="80"
                    fill="currentColor"
                    class="bi bi-person-circle"
                    viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
              {% endif %}
            </a>
            <div class="mt-2" style="font-size: 18; font-weight: bolder;">{{ destination.user.user.username }}</div>
            <div class="mt-3" style="color:#444444; font-size: 14px;">{{ destination.user.slogan }}</div>
          </div>
        </div>
        {% endif %}
        {% block right %}
        {% endblock right %}
      </div>
    </div>
  </main>
{% endblock main %}
{% block script %}
<script>
const follow = (user_id) => {
  const fd = new FormData();
      fd.append('user_id', user_id);
     axios.post("{% url 'follow' %}", fd,  {
          headers: {
          'X-CSRFToken': csrftoken,
          }
        }).then(resp => {
          console.log(resp)
          $("#toast-body").html("Successfully followed!");
          toastBootstrap.show();
      }).catch(e=>{
        const message = JSON.parse(e.response.data);
        console.log(message);
        $("#toast-body").html(message);
        toastBootstrap.show();
      }); 
  }

  const unfollow = (user_id) => {
       axios.delete("/unfollow/" + user_id,  {
            headers: {
            'X-CSRFToken': csrftoken,
            }
          }).then(resp => {
            console.log(resp)
            $("#toast-body").html("Successfully unfollowed!");
            toastBootstrap.show();
        }).catch(e=>{
          const message = JSON.parse(e.response.data);
          console.log(message);
          $("#toast-body").html(message);
          toastBootstrap.show();
        }); 
    }
  </script>
{% endblock script %}
