{% extends "base.html" %}
{% block main %}
  <main class="container mt-3">
    <div class="row">
      <div class="col-lg-9">
        {% block center %}
        {% endblock center %}
      </div>
      <div class="col-lg-3">
        {% if user.is_authenticated %}
          <div class="card" style="border: none; border-radius: 0%;">
            <div class="mt-5 mb-5 text-center">
              <a class="nav-link" href="{% url 'me' user.id %}">
                {% if user.profile.avatar_image.url %}
                  <img src="{{ user.profile.avatar_image.url }}"
                       alt="mdo"
                       width="80"
                       height="80" />
                {% elif not user.profile.avatar_image.url %}
                  <svg xmlns="http://www.w3.org/2000/svg"
                       width="80"
                       height="80"
                       fill="currentColor"
                       class="bi bi-person-circle"
                       viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                  </svg>
                {% endif %}
              </a>
              <div class="mt-2" style="font-size: 18; font-weight: bolder;">{{ user.username }}</div>
              <div class="mt-3" style="color:#444444; font-size: 14px;">{{ user.profile.profile }}</div>
              <div class="row mt-4 m-2" style="font-size: 12px; color:#444444;">
                <div class="col">
                  <span style="color: black; font-size: 14px; font-weight: bolder;">100</span>
                  <br />
                  Journals
                </div>
                |
                <div class="col">
                  <span style="color: black; font-size: 14px; font-weight: bolder;">100</span>
                  <br />
                  Followings
                </div>
                |
                <div class="col">
                  <span style="color: black; font-size: 14px; font-weight: bolder;">100</span>
                  <br />
                  Followers
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% block left %}
        {% endblock left %}
      </div>
    </div>
  </main>
{% endblock main %}
