{% extends "base.html" %}
{% block main %}
  <main class="container mt-3">
    <div class="row">
      <div class="col-lg-3">
        {% if user.is_authenticated %}
          <div class="card" style="border: none; border-radius: 0%;">
            <div class="mt-5 mb-5 text-center">
              <a class="nav-link" href="{% url 'me' user.id %}">
                {% if user.profile.avatar_image.url %}
                  <img src="{{ user.profile.avatar_image.url }}"
                       alt="mdo"
                       width="80"
                       height="80" />
                {% elif not user.profile.avatar_image.url %}
                  <svg xmlns="http://www.w3.org/2000/svg"
                       width="80"
                       height="80"
                       fill="currentColor"
                       class="bi bi-person-circle"
                       viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                  </svg>
                {% endif %}
              </a>
              <div class="mt-2" style="font-size: 18; font-weight: bolder;">{{ user.username }}</div>
              <div class="mt-3" style="color:#444444; font-size: 14px;">{{ user.profile.profile }}</div>
              <div class="row mt-4 m-2" style="font-size: 12px; color:#444444;">
                <div class="col">
                  <span style="color: black; font-size: 14px; font-weight: bolder;">{{ journal_count }}</span>
                  <br />
                  Journals
                </div>
                <div class="col">
                  <span style="color: black; font-size: 14px; font-weight: bolder;">{{ following_count }}</span>
                  <br />
                  Followings
                </div>
                <div class="col">
                  <span style="color: black; font-size: 14px; font-weight: bolder;">{{ follower_count }}</span>
                  <br />
                  Followers
                </div>
              </div>
            </div>
          </div>
        {% elif not user.is_authenticated %}
          <div class="card" style="border: none; border-radius: 0%;">
            <div class="card-header">Welcome!</div>
            <div class="card-body">
              <a href="{% url 'signin' %}">Sign In</a> or <a href="{% url 'signup' %}">Sign Up</a> to access more features!
            </div>
          </div>
        {% endif %}
        {% block left %}
        {% endblock left %}
      </div>
      <div class="col-lg-6">
        {% block center %}
        {% endblock center %}
      </div>
      <div class="col-lg-3">
        <div class="card ps-3 pe-3 pt-2" style="border: none; border-radius: 0%;">
          <div class="card-body">
            <h5 class="card-title">Who to follow</h5>
          </div>
          {% for follow in who_to_follow %}
          <div class="row mb-3">
            <div class="col-3">
              {% if follow.avatar_image.url %}
                            <img src="{{ follow.avatar_image.url }}"
                                 alt="mdo"
                                 width="50"
                                 height="50" />
                        {% elif not follow.avatar_image.url %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                          <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        </svg>
                        {% endif %}
            </div>
            <div class="col-6">
              <h6>{{follow.user.username}}</h6>
              <div style="font-size: 14px; color: gray;">{{follow.slogan}}</div>
            </div>
            <div class="col-3 text-center">
              <button onclick="follow({{follow.user.id}})" type="button" class="btn btn-outline-info">+</button>
            </div>
          </div>
          {% endfor %}
        </div>
        {% block right %}
        {% endblock right %}
      </div>
    </div>
  </main>
{% endblock main %}
