{% extends "base.html" %}
{% block main %}
    <main>
        <div class="container mt-3 d-flex justify-content-end">
            <a href="{% url 'destination_create' %}"><button class="btn btn-primary">Add a destination</button></a>
        </div>

        {% if user.is_authenticated %}
        <div class="container pb-3" id="custom-cards">
            <h3 class="text-center">Recommendations based on your preferences</h3>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pb-5 pt-3">
                {% for destination in recommendations %}
                        <div class="col">
                            <a class="nav-link" href="{% url 'destination_detail' destination.id %}">
                            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                 style="background-image: url('{{ destination.images.first.url }}');
                                        background-size: cover;
                                        text-shadow: 2px 2px #333333;
                                        border:none;
                                        ">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ destination.title }}</h3>
                                    <ul class="d-flex list-unstyled mt-auto justify-content-between">
                                        <li class="d-flex align-items-center">
                                            <small>{{ destination.city }}, {{ destination.country }}, {{ destination.continent }}</small>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <small>{{ destination.type }}</small>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <span class="badge text-bg-warning" style="font-size: 14px;">Rating: {{destination.rating}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="container pb-3" id="custom-cards">
            <h3 class="text-center">Top 6 popular destinations</h3>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pb-5 pt-3">
                {% for destination in top10 %}
                        <div class="col">
                            <a class="nav-link" href="{% url 'destination_detail' destination.id %}">
                            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                 style="background-image: url('{{ destination.images.first.url }}');
                                        background-size: cover;
                                        text-shadow: 2px 2px #333333;
                                        border:none;
                                        ">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ destination.title }}</h3>
                                    <ul class="d-flex list-unstyled mt-auto justify-content-between">
                                        <li class="d-flex align-items-center">
                                            <small>{{ destination.city }}, {{ destination.country }}, {{ destination.continent }}</small>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <small>{{ destination.type }}</small>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <span class="badge text-bg-warning" style="font-size: 14px;">Rating: {{destination.rating}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container pb-3" id="custom-cards">
            <h3 class="text-center">Most concerned 6 destinations</h3>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pb-5 pt-3">
                {% for destination in bottom10 %}
                        <div class="col">
                            <a class="nav-link" href="{% url 'destination_detail' destination.id %}">
                            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                 style="background-image: url('{{ destination.images.first.url }}');
                                        background-size: cover;
                                        text-shadow: 2px 2px #333333;
                                        border:none;
                                        ">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ destination.title }}</h3>
                                    <ul class="d-flex list-unstyled mt-auto justify-content-between">
                                        <li class="d-flex align-items-center">
                                            <small>{{ destination.city }}, {{ destination.country }}, {{ destination.continent }}</small>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <small>{{ destination.type }}</small>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <span class="badge text-bg-warning" style="font-size: 14px;">Rating: {{destination.rating}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock main %}
{% block script %}
    <script>
        // Filter by continent by replace url when users switch dropdown menu
       
        const continent_dropdown = document.getElementById("continent_dropdown");
        console.log(continent_dropdown);

        const filter_by_continent = (value) => {
            const location = window.location;
            let url = location.protocol + '//' + location.host + location.pathname;
            if(value != 'All') {
                url = url + "?continent="+value;
            }
            window.location.href = url;
        }

    </script>
{% endblock script %}
