{% extends "base.html" %}
{% block main %}
    <div class="container">
        <div class="card" style="border: none; border-radius: 0%">
            {% if user.is_authenticated and user.id == me.id %}
            <div class="text-end m-2 p-2">
                <button class="btn btn-secondary btn-light p-0 ps-2 pe-2" data-bs-toggle="modal" data-bs-target="#exampleModal" >Edit Profile</button>
            </div>
            {% endif %}
            
            <div class="mt-1 mb-5 text-center">
                {% if me.profile.avatar_image.url %}
                    <img src="{{ me.profile.avatar_image.url }}"
                         alt="mdo"
                         width="120"
                         height="120"
                         class="rounded-circle object-fit-cover" />
                {% elif not me.profile.avatar_image.url %}
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="80"
                         height="80"
                         fill="currentColor"
                         class="bi bi-person-circle"
                         viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                {% endif %}
                <h1 class="mt-2">{{ me.username }}</h1>
                <div class="text-center mt-3">
                {% if me.id != user.id %}
                    {% if me.id not in following_list %}
                    <button class="btn btn-secondary btn-small p-0 ps-2 pe-2"
                    onclick="follow({{ me.id }})"
                    style="height:25px;
                            padding-top:1px;
                            padding-bottom:1px">Follow</button>
                    {% elif me.id in following_list %}
                    <button class="btn btn-secondary btn-small ps-2 pe-2"
                        onclick="unfollow({{ me.id }})"
                        style="height:25px;
                            padding-top:1px;
                            padding-bottom:1px">Unfollow</button>
                    {% endif %}
                {% endif %}
            </div>
                <div class="mt-3" style="color:#444444; font-size: 14px;">{{ me.profile.slogan }}</div>
                <div class="mt-3">
                    <span>I'm interested in:</span>
                    {% for preference in me.profile.preferences.all %}
                    <span class="badge text-bg-warning">{{preference.prefered_destination_type}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card mt-3 pt-2" style="border: none; border-radius: 0%">
                    <div class="card-body">
                        <h5 class="card-title">About Me</h5>
                        <div>{{ me.profile.profile }}</div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card mt-3" style="border: none; border-radius: 0%;">
                    <nav style="border: none">
                        <div class="nav nav-tabs" style="border: none" id="nav-tab" role="tablist">
                            <button class="nav-link active"
                                    id="nav-home-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-home"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-home"
                                    aria-selected="true">Stories</button>
                            <button class="nav-link"
                                    id="nav-follower-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-follower"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-follower"
                                    aria-selected="false">Followers</button>
                            <button class="nav-link"
                                    id="nav-followings-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-followings"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-followings"
                                    aria-selected="false">Followings</button>
                        </div>
                    </nav>
                    <div class="tab-content" style="min-height:240px" id="nav-tabContent">
                        <div class="tab-pane fade show active p-3"
                             id="nav-home"
                             role="tabpanel"
                             aria-labelledby="nav-home-tab"
                             tabindex="0">
                            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-2">
                                {% for post in me.profile.posts.all %}
                                    <div class="col">
                                        <a class="nav-link" href="{% url 'post_detail' post.id %}">
                                            <div class="card card-cover h-50 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                                 style="background-image: url('{{ post.images.first.url }}');
                                                        background-size: cover;
                                                        text-shadow: 2px 2px #333333">
                                                <div class="d-flex flex-column h-50 p-3 pb-3 text-white text-shadow-1">
                                                    <h3 class="mb-4">{{ post.title }}</h3>
                                                    <ul class="d-flex list-unstyled">
                                                        <li>
                                                            <img src="{{ post.user.avatar_image.url }}"
                                                                 width="32"
                                                                 height="32"
                                                            
                                                                 class="object-fit-cover rounded-circle border border-white">
                                                            <span class="ms-2">{{ post.user.user.username }}</span>
                                                        </li>
                                                        <li class="d-flex align-items-center">
                                                            <svg class="bi me-2" width="1em" height="1em">
                                                                <use xlink:href="#calendar3" />
                                                            </svg>
                                                            <small>{{ post.created_at }}</small>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade p-3"
                             id="nav-follower"
                             role="tabpanel"
                             aria-labelledby="nav-follower-tab"
                             tabindex="0">
                            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-2">
                                {% for follower in me.profile.followers.all %}
                                    <div class="col">
                                        <div class="card p-3">
                                            <div class="text-center">
                                                {% if follower.follower.avatar_image.url %}
                                                    <img src="{{ follower.follower.avatar_image.url }}"
                                                         alt="mdo"
                                                         class="object-fit-cover"
                                                         width="80"
                                                         height="80" />
                                                {% elif not follower.follower.avatar_image.url %}
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="80"
                                                         height="80"
                                                         fill="currentColor"
                                                         class="bi bi-person-circle"
                                                         viewBox="0 0 16 16">
                                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                                    </svg>
                                                {% endif %}
                                                <div class="mt-2" style="font-size: 18; font-weight: bolder;">{{ follower.follower.user.username }}</div>
                                                <div class="mt-3" style="color:#444444; font-size: 14px;">{{ follower.follower.user.profile.slogan }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade p-3"
                             id="nav-followings"
                             role="tabpanel"
                             aria-labelledby="nav-followings-tab"
                             tabindex="0">
                            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-2">
                                {% for following in me.profile.followings.all %}
                                    <div class="col">
                                        <div class="card p-3">
                                            <div class="text-center">
                                                {% if following.following.avatar_image.url %}
                                                    <img src="{{ following.following.avatar_image.url }}"
                                                         alt="mdo"
                                                         class="object-fit-cover"
                                                         width="80"
                                                         height="80" />
                                                {% elif not following.following.avatar_image.url %}
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="80"
                                                         height="80"
                                                         fill="currentColor"
                                                         class="bi bi-person-circle"
                                                         viewBox="0 0 16 16">
                                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                                    </svg>
                                                {% endif %}
                                                <div class="mt-2" style="font-size: 18; font-weight: bolder;">{{ following.following.user.username }}</div>
                                                <div class="mt-3" style="color:#444444; font-size: 14px;">{{ following.following.user.profile.slogan }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form onsubmit="updateProfile(event)">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
                    <input type="file" class="form-control mb-3" name="avatar" id="avatar" placeholder="Avatar">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" value="{{user.profile.slogan}}" name="slogan" id="slogan" placeholder="Slogan">
                        <label for="slogan">Slogan</label>
                    </div>
                    <div class="form-floating">
                        <textarea type="text" class="form-control" name="profile" rows="3" id="profile" placeholder="Profile">{{user.profile.profile}}</textarea>
                        <label for="profile">Profile</label>
                    </div>
                
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </form>
        </div>
  </div>
{% endblock main %}
{% block script %}
  <script>
  const follow = (user_id) => {
    const fd = new FormData();
        fd.append('user_id', user_id);
       axios.post("{% url 'follow' %}", fd,  {
            headers: {
            'X-CSRFToken': csrftoken,
            }
          }).then(resp => {
            $("#toast-body").html("Successfully followed!");
              toastBootstrap.show();
        }).catch(e=>{
          const message = JSON.parse(e.response.data);
          console.log(message);
          $("#toast-body").html(message);
          toastBootstrap.show();
        }); 
    }

    const unfollow = (user_id) => {
         axios.delete("/unfollow/" + user_id,  {
              headers: {
              'X-CSRFToken': csrftoken,
              }
            }).then(resp => {
              $("#toast-body").html("Successfully unfollowed!");
              toastBootstrap.show();
          }).catch(e=>{
            const message = JSON.parse(e.response.data);
            console.log(message);
            $("#toast-body").html(message);
            toastBootstrap.show();
          }); 
      }

      const updateProfile = (event) => {
        event.preventDefault();
        console.log('submit')
        const form = event.target;
        const formData = new FormData(form);
        console.log(formData);
        axios.post("{% url 'profile_update' %}", formData, {
            headers: {
                'X-CSRFToken': csrftoken,
                'Content-Type': 'multipart/form-data',
            }
        }).then((resp)=>{
            console.log(resp.data);
            window.location.reload();
        });

      }
    </script>
{% endblock script %}