{% extends "base.html" %}
{% block main %}
    <main>
        <div id="myCarousel"
             class="carousel slide"
             style="width:100%;
                    height:30rem"
             data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for top_post in top_posts %}
                    <button type="button"
                            data-bs-target="#myCarousel"
                            data-bs-slide-to="{{ forloop.counter0 }}"
                            class="{% if forloop.first %}active{% endif %}"
                            aria-current="true"
                            aria-label="Slide {{ forloop.counter0 }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for top_post in top_posts %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ top_post.images.first.url }}"
                             style="width:100%;
                                    height:30rem;
                                    overflow:hidden;
                                    object-fit:cover" />
                        <div class="container">
                            <a href="{% url 'post_detail' top_post.id %}"
                               target="_blank"
                               class="nav-link">
                                <div class="carousel-caption text-start"
                                     style="text-shadow: 2px 2px #333333">
                                    <h1 style="color:white;">{{ top_post.title }}</h1>
                                    <p class="opacity-75">{{ top_post.summary }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#myCarousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#myCarousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="container px-4" id="custom-cards">
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                {% for post in posts %}
                    <div class="col">
                        <a class="nav-link" href="{% url 'post_detail' post.id %}">
                            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                 style="background-image: url('{{ post.images.first.url }}');
                                        background-size: cover;
                                        text-shadow: 2px 2px #333333;
                                        border:none;
                                        ">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                    <h3 class="double-line pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ post.title }}</h3>
                                    <ul class="d-flex list-unstyled mt-auto">
                                        <li class="me-auto">
                                            <img src="{{ post.user.avatar_image.url }}"
                                                 width="32"
                                                 height="32"
                                                 class="rounded-circle border border-white">
                                            <span class="ms-2">{{ post.user.user.username }}</span>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <svg class="bi me-2" width="1em" height="1em">
                                                <use xlink:href="#calendar3" />
                                            </svg>
                                            <small>{{ post.created_at }}</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-end">
                <div class="float-right">
                    <ul class="pagination pagination-md">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                            </li>
                        {% elif not page_obj.has_previous %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for page in page_obj.paginator.page_range %}
                            {% if page == page_obj.number %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% elif page != page_obj.number %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                            </li>
                        {% elif not page_obj.has_next %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}
